*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{
background:#050816;
color:white;
}


header{
padding:20px 10%;
}


nav{
display:flex;
justify-content:space-between;
align-items:center;
}


.logo{
width:120px;
}


ul{
display:flex;
gap:30px;
list-style:none;
}


a{
color:white;
text-decoration:none;
}



.hero{

height:90vh;
display:flex;
align-items:center;
padding:0 10%;

background:
linear-gradient(
90deg,
#050816,
#101b45
);

}



.hero h1{

font-size:55px;
max-width:700px;

}


.hero p{

font-size:20px;
margin:25px 0;
color:#ccc;

}



.btn{

background:#2563eb;
padding:15px 30px;
border-radius:10px;
display:inline-block;

}



section{

padding:80px 10%;

}



h2{

font-size:40px;
margin-bottom:30px;

}



.cards{

display:flex;
gap:25px;
flex-wrap:wrap;

}



.card{

background:#111827;
padding:30px;
border-radius:20px;
width:300px;

}



.card:hover{

transform:translateY(-5px);
transition:.3s;

}



footer{

text-align:center;
padding:30px;
background:#020617;

}